body{
    background-repeat: no-repeat;
    margin: 103px;
    /* background-size: cover; */
    padding: 0px;
    background-attachment: fixed;
    background-size: cover;
}
/* form{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
    padding-right: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 300px;
    width: max-content;
    height: 10px;
    
    background-color: transparent;
} */
.heading{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 70px;
    

    
}
.box{
    border: 10px;
    padding-right: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    font-size: medium;
    border-radius: 10px;
    text-align: left;
    background-color: rgba(255, 253, 253, 0.626);
    
}
#logo{
    align-items: flex-end;
}
.con1{
    text-align: center;
    font-size: larger;
    margin-top: 10px;
    border-radius: 15px;
    height: 44vh;
    width: 84vw;
    color:rgb(84, 187, 205)
    /* background-color: rgba(194, 191, 191, 0.295); */

}
.label{
    font-size: xx-large;
    color: rgb(225 215 215);
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
hr{
    color: black;
    border: solid;
    size: 1px;
    width: 385px;
}
.btn{
    cursor: pointer;
    display: inline-block;
}
#bt1:hover{
    background-color: black;
    color: white;
     border-color: blanchedalmond;
}

#bt2:hover{
    background-color: black;
    color: white;
     border-color: blanchedalmond;
}
a{
    text-decoration: underline;
    color: #e71887; 
    font-size: larger;

 }  
a:hover{
    background-color: black;
    color: rgb(16, 8, 255);
     border-color: blanchedalmond;
}

#bt3{
    align-content: end;
    background-color: transparent;
    border: 0px;
    font-size: larger;
    margin-top: 5px;
}
#heading{
    color: #e12525;
    font-size: 80px;
    text-shadow: 5px 5px #ffffff;
    /* animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-name: head;
    animation-composition:initial; 
}
@keyframes head {
    from
    {width: 900px;}
    to{width: 1300px;}
}
*/}

.heading1{  
    text-align: center;
    /* text-decoration: double; */
    color: rgb(255, 255, 255);
    font-size: xxx-large;
    
}
.con2{
    text-align: center;
    padding-left: 250px;
    margin-top: 30px;
    font-size: smaller;
}

#bt1{
    text-align: center;
    background-color: rgb(44 44 45 / 94%);
    border-radius: 8px;
    font-size: large;
    text-decoration: solid ;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* margin-left: 22px; */
    border: solid black;
    color: antiquewhite;
}
#bt2{ 
    text-align: center;
    background-color: rgb(44 44 45 / 94%);
    border-radius: 8px;
    font-size: large;
    text-decoration: solid ;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 22px;
    border: solid black;
    color: antiquewhite;
}

input[type=text], input[type=email] ,input[type=password]{
    font-size:medium;
    padding-right: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px;
    color: black;
    /* border: solid rgba(255, 0, 0, 0.776) 2px; */
}

